.content {
  background-color: rgba(135, 192, 202, 0.479);
  padding: 10px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.circle {
  height: 700px;
  width: 700px;
  border-radius: 50%;
  opacity: 0.7;
  filter: blur(50px);
  position: absolute;
}

.one {
  top: 0;
}
.twe {
  bottom: 0;
}
.three {
  right: 0px;
}
.four {
  right: 0;
  bottom: 0;
}
.five {
  top: 200px;
  left: 370px;
}
.six {
  right: 500px;
  top: 300px;
}
.six {
  right: 500px;
  bottom: 200px;
}
.seven {
  right: 700px;
  bottom: 100px;
}

.contentQuotes {
  position: relative;
}
